* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  list-style-type: none;
  vertical-align: baseline;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  padding-bottom: 40px;
  background: linear-gradient(-15deg, #ea59ff, #885bfe);
}

h1 {
  font-size: 2em;
  font-weight: 100;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
}

.app-header {
  background: #2a234d;
  text-align: center;
  padding: 5px;
  color: #fff;
  span {
    display: block;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    letter-spacing: 0.04em;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-wheel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  > svg {
    fill: #fff;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    animation: rotating 1.2s linear infinite;
  }
}

.contacts-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  th,
  td {
    &.salary {
      &,
      button {
        text-align: right;
      }
    }
  }
  th {
    label,
    button {
      padding: 8px 12px;
    }
  }
  thead {
    th {
      font-family: Raleway;
      font-size: 1.2em;
      background: rgba(41, 34, 77, 0.75);
      color: white;
      position: relative;
      white-space: nowrap;
      &,
      button {
        text-align: left;
      }
      button {
        width: 100%;
        bottom: 0;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        transition: background 0.2s ease-in-out;
        &:hover {
          background: rgba(41, 34, 77, 0.75);
        }
        .sorting-icons {
          margin-left: 5px;
          display: inline-block;
          position: relative;
          fill: white;
          width: 20px;
          height: 0;
          line-height: 0;
          .sort-asc,
          .sort-desc {
            position: absolute;
            left: 0;
            opacity: 0.5;
            transform: scale(0.7);
          }
          .sort-asc {
            top: -8px;
          }
          .sort-desc {
            bottom: 1px;
          }
          &.asc {
            .sort-asc {
              opacity: 1;
            }
          }
          &.desc {
            .sort-desc {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  tbody {
    td {
      padding: 8px 12px;
    }
    tr:nth-child(even) {
      td {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

.pagination {
  .pagination__list {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  .pagination__item {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 5px;
    button {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      border-radius: 60px;
      border: none;
      background: linear-gradient(-205deg, #ea59ff, #885bfe);
      box-shadow: inset 0px -1px 2px rgba(41, 34, 77, 0.5);
      transition: box-shadow 0.2s ease-in-out;
      outline: none;
      cursor: pointer;
      &:hover {
        box-shadow: inset 0px 2px 4px rgba(41, 34, 77, 0.75);
      }
    }
    &.is-current {
      button,
      button:hover {
        cursor: initial;
        box-shadow: inset 0px 0px 4px rgba(41, 34, 77, 1);
      }
    }
    &.is-disabled button {
      &,
      &:hover {
        cursor: initial;
        opacity: 0.5;
        color: rgba(41, 34, 77, 0.5);
        box-shadow: none;
      }
    }
  }
}
